<div class="container">

  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbar-supported-content"
            aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-supported-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/cats" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> Cats
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> Contact
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
            <i class="fa fa-sign-in"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
            <i class="fa fa-user-plus"></i> Register
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-lock"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="index.html">MYPo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">Features</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="service-page.html">SERVICES</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list.html">BLOG</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html">Pricing</a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul>
        </div>
    </div>
</nav> -->
  <router-outlet></router-outlet>

</div>
